<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">

{f:if(condition: '{settings.templateLayout} == 11', then: 'ItemImageTop')}
{f:if(condition: '{settings.templateLayout} == 12', then: 'Card')}
{f:if(condition: '{settings.templateLayout} == 13', then: 'SimpleList')}
{f:if(condition: '{settings.templateLayout} == 14', then: 'HorizontalCard')}
{f:if(condition: '{settings.templateLayout} == 15', then: 'TextCard')}
{f:if(condition: '{settings.templateLayout} == 16', then: 'SimpleTitleDate')}

</html>