<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/HorizontalCard.html
	=====================
-->
<div class="col md-col-3">
    <div class="card h-100 border-0 shadow-sm overflow-hidden" style="max-height: 250px;">
        <div class="row g-0 h-100">
            <div class="col-4 position-relative">
                <n:link newsItem="{newsItem}" settings="{settings}" class="d-block h-100">
                    <f:if condition="{newsItem.mediaPreviews}">
                        <f:then>
                            <f:media file="{newsItem.mediaPreviews.0}"
                                title="{newsItem.mediaPreviews.0.originalResource.title}"
                                alt="{newsItem.mediaPreviews.0.originalResource.alternative}"
                                class="img-fluid h-100 w-100 object-fit-cover" />
                        </f:then>
                        <f:else>
                            <f:if condition="{settings.displayDummyIfNoMedia}">
                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                    class="img-fluid h-100 w-100 object-fit-cover" />
                            </f:if>
                        </f:else>
                    </f:if>
                </n:link>
            </div>
            <div class="col-8">
                <div class="card-body d-flex flex-column h-100 justify-content-center">
                    <!-- Date -->
                    <div class="card-subtitle mb-2 text-muted small">
                        <span class="news-list-date">
                            <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                        </span>
                    </div>

                    <!-- Title -->
                    <h5 class="card-title mb-2">
                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                            {newsItem.title}
                        </n:link>
                    </h5>

                    <!-- Teaser -->
                    <div class="card-text small text-muted text-truncate-3">
                        <n:removeMediaTags>
                            <f:if condition="{newsItem.teaser}">
                                <f:then>
                                    <f:format.crop maxCharacters="{settings.cropMaxCharacters}"
                                        respectWordBoundaries="1">{newsItem.teaser}</f:format.crop>
                                </f:then>
                                <f:else>
                                    <f:format.crop maxCharacters="{settings.cropMaxCharacters}"
                                        respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop>
                                </f:else>
                            </f:if>
                        </n:removeMediaTags>
                    </div>

                    <!-- Category/Author if needed, currently minimal -->
                </div>
            </div>
        </div>
    </div>
</div>

</html>