<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/SimpleTitleDate.html
	=====================
-->
<n:link newsItem="{newsItem}" settings="{settings}"
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center pt-3 pb-3">
    <div class="me-3">
        <h6 class="mb-0 text-wrap">{newsItem.title}</h6>
    </div>
    <small class="text-muted text-nowrap">
        <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
    </small>
</n:link>

</html>